<html>

<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>

<body>
    <div style="margin-bottom: 20px;">
        <label><input type="checkbox" id="ancient" value="ancient" onclick="refreshData()">ancient</label><br />
        <label><input type="checkbox" id="goBaekSin" value="goBaekSin" onclick="refreshData()">goBaekSin</label><br />
        <label><input type="checkbox" id="tongilsillaVarhae" value="tongilsillaVarhae" onclick="refreshData()">tongilsillaVarhae</label><br />
        <label><input type="checkbox" id="goryeo" value="goryeo" onclick="refreshData()">goryeo</label><br />
        <label><input type="checkbox" id="joseon" value="joseon" onclick="refreshData()">joseon</label><br />
        <label><input type="checkbox" id="group" value="group" onclick="refreshData()">group</label><br />
        <label><input type="checkbox" id="man" value="man" onclick="refreshData()">man</label><br />
        <label><input type="checkbox" id="koreapresident" value="koreapresident" onclick="refreshData()">koreapresident</label><br />
        <label><input type="checkbox" id="religion" value="religion" onclick="refreshData()">religion</label><br />
        <label><input type="checkbox" id="etc" value="etc" onclick="refreshData()">etc</label><br />
    </div>
    <div style="margin: 0 auto;">
        <div style="margin-bottom: 10px; padding: 20px 20px; border: 1px solid black; text-align: center;" id="screen"></div>
        <button id="btn" onclick="buttonToggle()" style="width: 100%; height: 100;" autofocus>정답확인</button>
    </div>
    <div style="margin-top: 100px;">
        <textarea id="rawText" style="width: 100%; height: 500px;"></textarea>
        <button onclick="makeJsonData()">결과물 확인</button>
        <pre id="result"></pre>
    </div>

    <script>
        var ancient = [
            { "key" : "고인돌", "value" : "청동기"},
            { "key" : "비파형동검", "value" : "청동기"},
            { "key" : "민무늬토기", "value" : "청동기, 철기 *이른민무늬토기(신석기)"},
            { "key" : "미송리식토기", "value" : "청동기"},
            { "key" : "명도전", "value" : "철기"},
            { "key" : "반달돌칼", "value" : "청동기"},
            { "key" : "거푸집", "value" : "청동기, 철기"},
            { "key" : "경상북도 고령, 이진아시왕, 진흥왕 때 신라에 복속", "value" : "대가야"},
            { "key" : "김해 김수로, 법흥왕 때 신라에 복속", "value" : "금관가야"},
            { "key" : "빗살무늬 가락바퀴", "value" : "신석기"},
        ];
        var goBaekSin = [
            { "key" : "정사암", "value" : "백제의 귀족회의" },
            { "key" : "관구검의 침입에 맞서 저항했지만 짐", "value" : "동천왕(고구려)" },
            { "key" : "낙랑군 대방군 멸망", "value" : "미천왕(고구려)"},
            { "key" : "고구려 천리장성 축조", "value" : "영류왕, 연개소문" },
            { "key" : "영류왕을 몰아내고 보장왕을 세움, 도교 장려, 안시성전투", "value" : "연개소문" },
            { "key" : "국호 '신라'", "value" : "지증왕" },
            { "key" : "우산국정벌(이사부)", "value" : "지증왕" },
            { "key" : "순장 금지", "value" : "지증왕" },
            { "key" : "골품제정비", "value" : "법흥왕"},
            { "key" : "연호사용<건원>", "value" : "법흥왕"},
            { "key" : "화랑도개편", "value" : "진흥왕"},
            { "key" : "거칠부", "value" : "진흥왕"},
            { "key" : "경주'동시전'설치", "value" : "지증왕"},
            { "key" : "대가야정복", "value" : "진흥왕"},
            { "key" : "황룡사건축", "value" : "진흥왕"},
            { "key" : "사비천도, 국호'남부여'", "value" : "성왕(백제)"},
            { "key" : "22담로", "value" : "무령왕(백제)"},
            { "key" : "백제 왕릉", "value" : "무령왕(백제)"},
            { "key" : "웅진천도", "value" : "문주왕"},
            { "key" : "나.제동맹", "value" : "비유왕(백제)"},
            { "key" : "진대법(을파소)", "value" : "고국천왕(고구려)"},
            { "key" : "낙랑축출, 대방군축출, 서안평공격", "value" : "미천왕(고구려)"},
            { "key" : "율령반포, 태학설립, 불교공인(전진을 통해 전해짐)", "value" : "소수림왕(고구려)"},
            { "key" : "연호사용<영락>", "value" : "광개토대왕"},
            { "key" : "평양천도(고구려)", "value" : "장수왕"},
            { "key" : "충주 고구려비", "value" : "장수왕"},
            { "key" : "개로왕을 전사시킨 고구려의 왕", "value" : "장수왕"},
            { "key" : "부여합병", "value" : "문자왕(고구려)"},
            { "key" : "살수대첩(을지문덕)", "value" : "영양왕"},
            { "key" : "이문집[신집][유기]", "value" : "영양왕"},
            { "key" : "율령반포, 목지국 점령", "value" : "고이왕(백제)"},
            { "key" : "마한정복,요서,산둥및 규슈진출", "value" : "근초고왕(백제)"},
            { "key" : "역사서 편찬 고흥[서기], 일본과 교류 아직기(한자), 왕이(천자문), 칠지도", "value" : "근초고왕"},
            { "key" : "평양성에서 고국원왕을 전사시킴", "value" : "근초고왕"},
            { "key" : "동진(마라난타)으로 하여금 백제에 불교수용한 왕", "value" : "침류왕"},
            { "key" : "나.제 동맹", "value" : "비유왕"},
            { "key" : "장수왕에게 당해서 한성이 함락된 왕", "value" : "개로왕"},
            { "key" : "소지마립간과 혼인동맹", "value" : "동성왕"},
            { "key" : "관산성전투에서 신라 진흥왕에게 뒷통수 맞음", "value" : "성왕"},
            { "key" : "익산미륵사건립", "value" : "무왕(백제)"},
            { "key" : "호우명 그릇(고구려의 내정 간섭)", "value" : "내물마립간"},
            { "key" : "나.제 동맹한 신라의 왕", "value" : "눌지마립간"},
            { "key" : "국호'신라'", "value" : "지증왕"},
            { "key" : "이사부가 마지막으로 장군으로 있던 왕", "value" : "진흥왕"},
            { "key" : "우경장려, (소를 이용한 농사는 고구려 때 활발해짐)", "value" : "지증왕"},
            { "key" : "신라의 불교 공인(이차돈의 순교), 불국사 처음 건립", "value" : "법흥왕"},
            { "key" : "상대등(국사를 총리함) 설치", "value" : "법흥왕"},
            { "key" : "원광[세속오계]", "value" : "진흥왕"},
        ];
        var tongilsillaVarhae = [
            { "key" : "황룡사9층목탑", "value" : "선덕여왕"},
            { "key" : "첨성대, 분황사건축", "value" : "선덕여왕"},
            { "key" : "신라의 대야성함락", "value" : "선덕여왕(신라), 의자왕(백제)"},
            { "key" : "황산벌전투, 백강전투", "value" : "무열왕, 의자왕(백제)"},
            { "key" : "안시성전투, 매소성.기벌포 전투, ", "value" : "문무왕(신라), 보장왕(고구려)"},
            { "key" : "외사정 설치(지방관의 비리 감찰)", "value" : "문무왕"},
            { "key" : "상수리 제도(지방의 자제를 수도에 있는 관청에 보냄 -> 지방세력 견제)", "value" : "문무왕"},
            { "key" : "김흠돌의 난", "value" : "신문왕"},
            { "key" : "외사정을 지방에 파견하였음", "value" : "신문왕"},
            { "key" : "녹읍폐지, 관료전 지급", "value" : "신문왕"},
            { "key" : "9주 5소경, 9주 10정", "value" : "신문왕"},
            { "key" : "국학(6두품) 설치", "value" : "신문왕"},
            { "key" : "만파식적", "value" : "신문왕"},
            { "key" : "감은사지 3층 석탑", "value" : "신문왕"},
            { "key" : "중앙군 9서당, 지방군 10정을 편성함", "value" : "신문왕"},
            { "key" : "한성에서 개로왕 죽음", "value" : "장수왕"},
            { "key" : "관산성에서 성왕 죽임", "value" : "진흥왕"},
            { "key" : "해동성국", "value" : "선왕(발해)"},
            { "key" : "연호사용<인안>", "value" : "무왕(발해)"},
            { "key" : "연호사용<대흥>", "value" : "문왕(발해)"},
            { "key" : "신라도, 발해관, 친중국, 친신라", "value" : "문왕(발해)"},
            { "key" : "3성 6부제", "value" : "문왕(발해)"},
            { "key" : "중정대를 두어 관리의 비리 감찰", "value" : "문왕(발해)"},
            { "key" : "주자감 설치", "value" : "문왕(발해)"},
            { "key" : "연호사용<건흥>", "value" : "선왕"},
            { "key" : "김춘추 나.당 동맹결성", "value" : "진덕여왕"},
            { "key" : "최치원의 시무10조", "value" : "진성여왕"},
            { "key" : "독서삼품과", "value" : "원성왕(통일신라)"},
            { "key" : "김헌창의 난", "value" : "원성왕(통일신라)"},
            { "key" : "장보고의 난", "value" : "원성왕(통일신라)"},
            { "key" : "정전지급", "value" : "성덕왕"},
            { "key" : "불국사 확장 창건(삼층석탑), 석굴암(김대성)", "value" : "경덕왕"},
            { "key" : "녹읍부활", "value" : "경덕왕"},
            { "key" : "국학 > 태학으로 개칭", "value" : "경덕왕"},
            { "key" : "원종과 애노의 난", "value" : "진성여왕"},
            { "key" : "적고적의 난", "value" : "진성여왕"},
            { "key" : "6두품 출신, 빈공과 합격", "value" : "최치원"},
            { "key" : "왕건에게 나라를 바침", "value" : "경순왕(통일신라)"},
            { "key" : "견훤의 습격에 자결함", "value" : "경애왕(통일신라)"},
            { "key" : "신라왕족출신, 국호 마진, 양길의 휘하, 광평성, 철원천도", "value" : "궁예"},
            { "key" : "공산전투, 고창전투, 금산사 유폐, 고려에 망명, (경순왕이 고려에게 나라를 바침) 일리천/황산전투", "value" : "견훤"},
            { "key" : "5경15부62주", "value" : "선왕(발해)"},
            { "key" : "안동 도호부(당나라 군대)를 물러냈다.", "value" : "문무왕"},
        ];
        var goryeo = [            
            { "key" : "당나라 산둥반도 공격(장문휴)", "value" : "무왕(발해)"},
            { "key" : "기인제도, 사심관제도로 호족을 견제", "value" : "태조, 왕건"},
            { "key" : "흑창(빈민구제기구)", "value" : "왕건"},
            { "key" : "역분전 지급(관등에 상관없이 인품과 공로에 따라 지급)", "value" : "왕건"},
            { "key" : "훈요10조, 서경중시", "value" : "왕건"},
            { "key" : "정계, 계백료서(관리규범제시)", "value" : "왕건"},
            { "key" : "만부교사건(거란이준 낙타를 굶여 죽임)", "value" : "왕건"},
            { "key" : "광군(거란에 대비)조직", "value" : "정종(고려)"},
            { "key" : "왕규의 난", "value" : "광종"},
            { "key" : "주현공부법(지방에 공물, 부역납부액을 할당하는 제도)", "value" : "광종"},
            { "key" : "노비안검법", "value" : "광종"},
            { "key" : "과거제도(쌍기의 건의)", "value" : "광종"},
            { "key" : "공복제정(자,단,비,녹)", "value" : "광종"},
            { "key" : "황제칭호", "value" : "광종"},
            { "key" : "연호사용<광덕><준풍>", "value" : "광종"},
            { "key" : "제위보(잉여곡식, 돈을 빌려줌 빈민, 병자 구제 위함)", "value" : "광종"},
            { "key" : "불교융성 교종 : 화엄종(귀법사), 선종 : 법안종", "value" : "광종"},
            { "key" : "전시과실시(세습x)", "value" : "경종"},
            { "key" : "시정전시과(관등+인품)", "value" : "경종"},
            { "key" : "최승로 시무 28조", "value" : "성종"},
            { "key" : "중앙 : 2성 6부제 + 도병마사(군사), 식목도감(법), 지방 : 12목에 지방관파견, 향리제도", "value" : "성종"},
            { "key" : "국자감(교육)", "value" : "성종"},
            { "key" : "의창(농민구제창고)", "value" : "성종"},
            { "key" : "연등회규모축소, 팔관회폐지", "value" : "성종"},
            { "key" : "향리제도 마련", "value" : "성종"},
            { "key" : "상평창(물가조절기구)", "value" : "성종"},
            { "key" : "최초주화'건원중보'", "value" : "성종"},
            { "key" : "거란의 1차 침입(거란장수 소손녕), 서희의 외교담판 강동 6주 얻어냄", "value" : "성종"},
            { "key" : "개정전시과(관등18등급에 따라)", "value" : "목종"},
            { "key" : "음서제(5품이상 관리 후손은 관직 프리패스)", "value" : "목종"},
            { "key" : "거란 2차 침입(거란장수 소배압, 양규)", "value" : "현종"},
            { "key" : "거란 3차 침입 강감찬의 귀주대첩", "value" : "현종"},
            { "key" : "고려의 천리장성 축조", "value" : "현종"},
            { "key" : "나성축조", "value" : "현종"},
            { "key" : "초조대장경 제장(우리나라 최초 목판 인쇄, 거란 침입에 대비)", "value" : "현종"},
            { "key" : "경전전시과", "value" : "문종"},
            { "key" : "구(9)재학당(최충)", "value" : "문종"},
            { "key" : "여진정벌(윤관)", "value" : "숙종"},
            { "key" : "별무반(신기군,신보군,항마군) 창설, 동북 9성", "value" : "숙종"},
            { "key" : "주전도감, 화폐 : 은병, 활구", "value" : "숙종"},
            { "key" : "해동통보(주전도감에서 발행)", "value" : "숙종"},
            { "key" : "국자감에 서적포(출판부) 설치", "value" : "숙종"},
            { "key" : "국자감에 7재(고려전문교육강좌) 개설", "value" : "예종"},
            { "key" : "양현고(장학재단)", "value" : "예종"},
            { "key" : "질병을 치료하고 수습하기 위하여 구제도감 설치", "value" : "예종"},
            { "key" : "이자겸의 난(문벌귀족시대의 붕괴, 무신집권기의 배경이 됨)", "value" : "인종"},
            { "key" : "묘청의 난(서경천도, 금국정벌주장)", "value" : "인종"},
            { "key" : "삼국사기(김부식-문하시중)", "value" : "인종"},
            { "key" : "무신정변(무신차별)", "value" : "의종"},
            { "key" : "정중부, 이의민, 경대승(도방{사병기구}), 최충헌(이의민 죽임, 교정도감{정치}, 봉사10조)", "value" : "의종"},
            { "key" : "최우(정방{인사권}, 삼별초{군권})", "value" : "의종"},
            { "key" : "농민봉기(망이, 망소이의 난 : 공주 명학소) 최초 천민 봉기(만적의 난) ", "value" : "의종"},
            { "key" : "김사미, 김효심의 난(신라부흥)", "value" : "의종"},
            { "key" : "초조대장경소실(몽골 침입)", "value" : "고종"},
            { "key" : "황룡사 9층목탑 소실", "value" : "고종"},
            { "key" : "강화천도, 개경환도", "value" : "고종"},
            { "key" : "향약구급방 편찬(대장도감)", "value" : "고종"},
            { "key" : "몽골과 장기 항전을 위해 강화천도", "value" : "고종"},
            { "key" : "팔만대장경 제작(합천 해인사, 몽골침입에 대비)", "value" : "고종"},
            { "key" : "김윤후가 처인성에서 몽골군을 막아냄, 2차 몽골의 침입", "value" : "고종"},
            { "key" : "정동행성(원이 일본정벌을 위해 설치), 쌍성총관부, 탐라총관부(원의 내정간섭 기관)", "value" : "충렬왕"},
            { "key" : "응방설치(매의 사육, 사냥)", "value" : "충렬왕"},
            { "key" : "일연이 삼국유사(불교사 중심, 고대의 민간 설화) 편찬 함", "value" : "충렬왕"},
            { "key" : "이승휴[제왕운기] - 단군조선에서 고려까지의 역사를 정리함", "value" : "충렬왕"},
            { "key" : "친원숙청(권문세족 숙청)", "value" : "공민왕"},
            { "key" : "쌍성총관부 공격", "value" : "공민왕"},
            { "key" : "신돈[전민변정도감]", "value" : "공민왕"},
            { "key" : "정방폐지", "value" : "공민왕"},
            { "key" : "신진사대부등용(성리학 급진파 : 정도전, 온건파 : 정몽주)", "value" : "공민왕"},
            { "key" : "홍건적의 난(최영, 이성계)", "value" : "공민왕"},
            { "key" : "성균관을 순수 유교기관으로 정비", "value" : "공민왕"},
            { "key" : "노국 대장 공주", "value" : "공민왕"},
            { "key" : "최영의 요동정벌", "value" : "우왕"},
            { "key" : "위화도회군(이성계)", "value" : "우왕"},
            { "key" : "화통도감 설치(최무선), 진포해전", "value" : "우왕"},
            { "key" : "흥덕사'직지심체요절'(가장 오래된 금속활자본)", "value" : "우왕"},
            { "key" : "황산대첩(이성계가 황산에서 왜구를 대파함)", "value" : "우왕"},
        ];
        var joseon = [
            { "key" : "과전법(전,현직관리에게 토지에 대한 세금을 걷을 권리를 줌)실시", "value" : "태조, 이성계"},
            { "key" : "천상열차분야지도제작", "value" : "태조, 이성계"},
            { "key" : "정도전(재상중심정치)", "value" : "태조, 이성계"},
            { "key" : "6조직계제(처음)", "value" : "태종"},
            { "key" : "호패법(인구조사)", "value" : "태종"},
            { "key" : "신문고설치", "value" : "태종"},
            { "key" : "주자소(활자주조)", "value" : "태종"},
            { "key" : "사병혁파", "value" : "태종"},
            { "key" : "양전(세금을 정확하게 걷기 위해 토지조사, 양지아문)실시", "value" : "태종"},
            { "key" : "사간원독립(문하부 낭사)", "value" : "태종"},
            { "key" : "혼일강리역대국도지도(세계에서 가장 오래된 세계지도)", "value" : "태종"},
            { "key" : "의금부(반역 음모를 잡음)", "value" : "태종"},
            { "key" : "의정부서사제(처음)", "value" : "세종"},
            { "key" : "전분6등법, 연분9등법", "value" : "세종"},
            { "key" : "집현전설치", "value" : "세종"},
            { "key" : "[농사직설][용비어천가(조선건국의 전통성)][향약집성방][칠정산]", "value" : "세종"},
            { "key" : "4군 6진(여진을 몰아냄, 최윤덕), 쓰시마섬 정벌(이종무)", "value" : "세종"},
            { "key" : "신기전 개발(최무선)", "value" : "세종"},
            { "key" : "계해약조(일본과 무역)", "value" : "세종"},
            { "key" : "계유정난(단종,김조서 제거, 훈구파 형성)", "value" : "세조, 수양대군"},
            { "key" : "직전법(현직관리에게만 세금 걷을 수 있는 권리부여) 실시", "value" : "세조, 수양대군"},
            { "key" : "집현전과 경연폐지", "value" : "세조, 수양대군"},
            { "key" : "이시애의 난, 유향소 폐지", "value" : "세조, 수양대군"},
            { "key" : "6조직계제(다시)", "value" : "세조, 수양대군"},
            { "key" : "의정부서사제(다시)", "value" : "성종"},
            { "key" : "관수관급제(토지에 대한 세금을 관에서 직접 걷음)", "value" : "성종"},
            { "key" : "경국대전 완성", "value" : "성종"},
            { "key" : "[동국통감(단군~고려말 역사서)][동국여지승람(지리서)]", "value" : "성종"},
            { "key" : "경연활성, 홍문관(행정, 연구{책 보관} 기구)설치", "value" : "성종"},
            { "key" : "3사(사헌부, 사간원,홍문관)에 사림등용 => 훈구파견제", "value" : "성종"},
            { "key" : "무오사화(김종직 조의제문), 갑자사화(폐비윤씨 사사사건)", "value" : "연산군"},
            { "key" : "반정으로 연사군을 몰라냄", "value" : "중종"},
            { "key" : "조광조의 개혁(위훈삭제, 소격서(도교에 입각해서 복을 빌고 병을 고치며 비를 내리길 기원)폐지, 현랑과)-공신의 비리를 바로잡음", "value" : "중종"},
            { "key" : "기묘사화(훈구가 조광조 제거)", "value" : "중종"},
            { "key" : "백운동서원설립(주세붕, 국왕으로부터 편액과 함께 서적을 받기로 함)", "value" : "중종"},
            { "key" : "삼포(부산포, 염포, 제포)왜란", "value" : "중종"},
            { "key" : "을사사화(소윤, 대윤 싸움)", "value" : "명종"},
            { "key" : "을묘왜변", "value" : "명종"},
            { "key" : "비변사(행정기관) 설치", "value" : "명종"},
            { "key" : "임꺽정의 난", "value" : "명종"},
            { "key" : "직전법 폐지", "value" : "명종"},
            { "key" : "녹봉 지급", "value" : "명종"},
            { "key" : "구황촬요(흉년을 대처하고자 간행돈 책)", "value" : "명종"},
            { "key" : "붕당형성(이조전랑 때문, 사림이 동인.서인으로 나뉨)", "value" : "선조"},
            { "key" : "정여립모반사건(기축옥사, 정여립이 모반을 꾸민다고 해서 관련 동인들이 큰 화를 당함)->정철(정여립모반사건의 주동자)의 처리문제로 동인이 북인 남인으로 나뉨", "value" : "선조"},
            { "key" : "임진왜란(경복궁에 화재, 이순신 한산도 대첩)", "value" : "선조"},
            { "key" : "행주대첩(권율)", "value" : "선조"},
            { "key" : "정유재란(명량대첩, 노량대첩{이순신 죽음})", "value" : "선조"},
            { "key" : "10만양병설(이이, 10만의 군대를 만들어 전쟁에 대비해야 한다)", "value" : "선조"},
            { "key" : "훈련도감(삼수병, 류성룡 건의)", "value" : "선조"},
            { "key" : "곤여만국전도", "value" : "선조"},
            { "key" : "조선통신사 12회 파견", "value" : "선조"},
            { "key" : "속오군(군역을 담당하지 않은 양인과 양반을 골라서 유사시 군대로 사용함)", "value" : "선조"},
            { "key" : "북인 정권", "value" : "광해군"},
            { "key" : "중립외교", "value" : "광해군"},
            { "key" : "[홍길동전],[춘향전]", "value" : "광해군"},
            { "key" : "동의보감(허준)", "value" : "광해군"},
            { "key" : "대동법(경기, 특산물로 냈던 공물을 쌀로 내게함->공인 등장, 방납의 폐단을 막기 위해)", "value" : "광해군"},
            { "key" : "일본과 기유약조 체결(제한된 무역)", "value" : "광해군"},
            { "key" : "강홍립 파병", "value" : "광해군"},
            { "key" : "인목 대비 유폐와 영창 대군 사사를 명분으로 폐위됨", "value" : "광해군"},
            { "key" : "광해군을 몰아내고 반정을 일으킴(서인이 정권을 잡음)", "value" : "인조"},
            { "key" : "어영청(후금을 막을려고 편성) 설치", "value" : "인조"},
            { "key" : "친명배금, 이괄의 난(반정공신이었으나 2등공신으로 책봉된 것에 불만을 갖음, 공산성 피난)", "value" : "인조"},
            { "key" : "영정법(흉풍에 관계없이 일정하게 쌀을 걷음)", "value" : "인조"},
            { "key" : "정묘호란(후금 침입, 용골산성 정봉수와 이립이 의병을 일으킴), 병자호란(청나라 침입, 남한산성으로 피난, 소현세자 인질, 삼전도의 굴욕, 김상용이 강화도에서 순절)", "value" : "인조"},
            { "key" : "법주사 팔상전(임진왜란 때 불탔던 것) 재건", "value" : "인조"},
            { "key" : "북벌정책(송시열, 서인의 권력유지 수단)", "value" : "효종"},
            { "key" : "청에 대한 척화 주장하다가 청나라에 끌려감", "value" : "효종"},
            { "key" : "나선정벌(청나라를 도와 러시아의 국경 전투에 조선군 파병함)", "value" : "효종"},
            { "key" : "하멜의 제주도표착", "value" : "효종"},
            { "key" : "예송논쟁(효종과 효종비에 대한 자의대비의 복상 예의논쟁, 서인과 남인이 대립함, 서인이 더 간소하게 하자고 함 왕견제를 위해)", "value" : "현종"},
            { "key" : "상평통보", "value" : "숙종"},
            { "key" : "대동법확대(전국, 공물을 쌀로 받음)", "value" : "숙종"},
            { "key" : "백두산정계비(국경선)", "value" : "숙종"},
            { "key" : "금위영(국와 호위, 수도 방위)", "value" : "숙종"},
            { "key" : "환국정치(경신{서인이 노론, 소론 분화},기사{인현왕후가 폐위됨, 송시열이 반대했지만 오히려 송시열이 쫓겨남, 남인이 장희빈 아들 세자책봉},갑술{서인이 인형왕후 복위운동})", "value" : "숙종"},
            { "key" : "경신환국(허적이 숙종의 기름을 숨쳐서 발발함, 허적과 윤후등 남인들이 대거 축출되었다)", "value" : "숙종"},
            { "key" : "안용복 독도", "value" : "숙종"},
            { "key" : "이인좌의 난을 노론이 진압해서 즉위한 왕", "value" : "영조"},
            { "key" : "탕평책, 탕평비", "value" : "영조"},
            { "key" : "균역법(양반에게도 군역 대신 군포 2필, 농민들에게는 1필로 줄여줌), 속대전편찬(법전)", "value" : "영조"},
            { "key" : "균역법의 시행으로 줄어든 재정을 결작을 통해서 토지 1결당 미곡 2두를 부담시킴, 상류층에게 선무군관포라고 해서 군포 1필 부가", "value" : "영조"},
            { "key" : "서원정리, 신문고 부활", "value" : "영조"},
            { "key" : "이조전랑(정랑, 좌랑 : 권한있는 직책) 권한 축소", "value" : "영조"},
            { "key" : "동국대지도 100리척(정상기), 동국문헌비고", "value" : "영조"},
            { "key" : "이중환[택리지]", "value" : "영조"},
            { "key" : "화성(기기도설, 거중기) 축조", "value" : "정조"},
            { "key" : "장용영(친위부대) 설치", "value" : "정조"},
            { "key" : "초계문신제(관리재교육)", "value" : "정조"},
            { "key" : "규장각(서얼진출, 박제가, 유득공) 실시", "value" : "정조"}, 
            { "key" : "대전통편(법전)", "value" : "정조"},
            { "key" : "신해통공(금난전권{상품을 독점하면서 이익을 봄}폐지)", "value" : "정조"},
            { "key" : "신해박해(천주교 박해)", "value" : "정조"},
            { "key" : "실학 중농학파(유원형, 이익, 정약용) 중상학파(유수원, 홍대용, 박지원, 박제가)", "value" : "정조"},
            { "key" : "김홍도, 신윤복 작품활동", "value" : "정조"},
            { "key" : "장용영 혁파", "value" : "순조"},
            { "key" : "신유박해(천주교 박해, 흑산도)", "value" : "순조"},
            { "key" : "공노비해방", "value" : "순조"},
            { "key" : "홍경래의 난(평안도 차별, 청전강 이북, 정주성)", "value" : "순조"},
            { "key" : "정약용 [목민심서], 윤희[언문지]", "value" : "순조"},
            { "key" : "안동김씨 세도정치", "value" : "철종"},
            { "key" : "동학창시(최제우)", "value" : "철종"},
            { "key" : "임술농민봉기(박규수)->삼정이정청(삼정의 문란을 잡기 우해) 설치", "value" : "철종"},
            { "key" : "대동여지도(김정호)", "value" : "철종"},
            { "key" : "당백전", "value" : "흥선대원군"},
            { "key" : "미국의 침략, 박규수 평양 대동강에서 활약", "value" : "제너럴 셔먼호 사건"},
            { "key" : "프랑스 침략, 로즈 제독의 함대가 양화진 침입, 양헌수군이 격퇴, 외규장각 의궤약탈", "value" : "병인양요"},
            { "key" : "어재연 부대가 관성보 전투", "value" : "신미양요"},
        ];
        var group = [
            { "key" : "고종의 밀지를 받아 조직, ", "value" : "독립의군부"},
            { "key" : "조선총독부에 국권반환요구, ", "value" : "독립의군부"},
            { "key" : "임병찬", "value" : "독립의군부"},
            { "key" : "복벽주의를 내세우며 의병전쟁 준비", "value" : "독립의군부"},
            { "key" : "이상설(북간도에 서전서숙 설립, 헤이그특사), 이동휘 정, 부통령으로 선임", "value" : "대한광복군"},
            { "key" : "박상진, 친일부호처단,", "value" : "대한광복회"},
            { "key" : "무관학교설립자금모금,공화정지향", "value" : "대한광복회"},
            { "key" : "간도참변 이후 자유시로 이동, ", "value" : "대한독립군"},
            { "key" : "홍범도(봉오동전투)", "value" : "대한독립군"},
            { "key" : "최초의 한인 무장부대, ", "value" : "조선의용대"},
            { "key" : "중국 관내에서 조직(우한)", "value" : "조선의용대"},
            { "key" : "조선 독립 동맹, 조선 민족 전선 연맹을 결성하여 대일 항전을 준비하였다.", "value" : "조선의용대"},
            { "key" : "최고 지도자인 장[제스] 위원장", "value" : "조선의용대"},
            { "key" : "신간회를 창립하였다.", "value" : "민족유일당"},
            { "key" : "광주학생 항일운동, ", "value" : "신간회"},
            { "key" : "민족유일당운동의 일환", "value" : "신간회"},
            { "key" : "여성계몽, 구습타파", "value" : "근우회"},
            { "key" : "양세봉, ", "value" : "조선혁명군"},
            { "key" : "중국군과 영릉가 전투, ", "value" : "조선혁명군"},
            { "key" : "남만주에서 중국군과 연합작전", "value" : "조선혁명군"},
            { "key" : "양기탁(대한매일신보 영국인 베델과), 이승훈, 105인 사건, ", "value" : "신민회"},
            { "key" : "태극서관, 대산학교, 오산학교, 안창호(대산학교)이준이 조직, ", "value" : "신민회"},
            { "key" : "남만주 삼원보, 신흥무관학교(이회영)", "value" : "신민회"},
            { "key" : "미국과 연계, 중국 국민당이 지원, ", "value" : "한국광복군"},
            { "key" : "대한민국 임시정부 산하조직, ", "value" : "한국광복군"},
            { "key" : "영국군요청으로 인도미얀마 전선투입, ", "value" : "한국광복군"},
            { "key" : "연해주, 1945서울진공작전", "value" : "한국광복군"},
            { "key" : "지청천, 쌍성보 전투, 대전자령 전투, ", "value" : "한국독립군"},
            { "key" : "한중 연합작전, 한국독립당 산하", "value" : "한국독립군"},
            { "key" : "여운형(조선준비위원회의 모태)", "value" : "조선건국동맹"},
            { "key" : "김원봉, 신채호의'조선혁명선언' 지침서로 사용, ", "value" : "조선의열단"},
            { "key" : "각종 폭파사건,", "value" : "조선의열단 "},
            { "key" : "황푸 군관학교 입학, ", "value" : "조선의열단"},
            { "key" : "만주지린성에서 조직, 조선혁명간부학교", "value" : "조선의열단"},
            { "key" : "만민공동회, ", "value" : "독립협회"},
            { "key" : "러시아 절영도 조차 요구 반대, ", "value" : "독립협회"},
            { "key" : "서재필(독립문), ", "value" : "독립협회"},
            { "key" : "중추원 개편을 통해 의회 설립추친, ", "value" : "독립협회"},
            { "key" : "박정양(주미대사관) 대통령, 윤치호 부통령", "value" : "독립협회"},
            { "key" : "일본의 황무지 개간권 저지", "value" : "보안회"},
            { "key" : "고종의 강제퇴위 반대운동", "value" : "대한자강회"},
            { "key" : "북간도 김약연", "value" : "간민회"},
            { "key" : "서간도, 경학사 해산", "value" : "부민단"},
            { "key" : "파리강화회의", "value" : "신한청년당"},
            { "key" : "샌프란시스코에 중앙회, 하와이, 박용만(하와이, 대조선 국민군단), 공입 협회가 재조직", "value" : "대한인 국민회"},
            { "key" : "권업신문, 연해주", "value" : "권업회"},
            { "key" : "삼균주의(조소앙), ", "value" : "대한민국 임시정부"},
            { "key" : "임시사료편찬회(한.일 관계 사료집), ", "value" : "대한민국 임시정부"},
            { "key" : "연통제를 통해 연락하고 백산상회를 통해 독립운동자금(독립공채 팔아서) 모음, ", "value" : "대한민국 임시정부"},
            { "key" : "한인비행학교", "value" : "대한민국 임시정부"},
            { "key" : "천주교, 무장투쟁", "value" : "의민단"},
            { "key" : "을사오적, 대종교", "value" : "자신회"},
            { "key" : "김구가 조직, 이봉창,윤봉길 의거", "value" : "한인애국당"},
            { "key" : "해조신문", "value" : "한민회"},
            { "key" : "2.8독립선언서(도쿄)", "value" : "조선청년독립단"},
            { "key" : "사회주의 단체, 신간회 창립에 중요한 계기가 됨", "value" : "정우회"},
        ];
        var man = [
            { "key" : "진주민란, 진주농민봉기(백낙신, 안핵사 박규수에게 진압)", "value" : "유계춘"},
            { "key" : "삼국유사", "value" : "일연"},
            { "key" : "농상집요(고려후기 농업관련 서적)", "value" : "이암"},
            { "key" : "군국기무처, 일본수신사 파견", "value" : "김홍집"},
            { "key" : "임하경륜, 의산문답, 지전론, 무한우주론, 균전제", "value" : "홍대용"},
            { "key" : "갑신정변(입헌군주제, 14개조의 개혁 요강, 인민 평등권, 지조법의 개혁, 재정을 호조로 일원화, 혜상공국을 폐지, 자유로운 상업활동)->한성조약, 텐진조약", "value" : "김옥균, 서재필, 서광범"},
            { "key" : "대한독립군 사령관, 봉오도전투", "value" : "홍범도"},
            { "key" : "을사늑약에 반발하여 을사의병", "value" : "최익현, 민중식, 신돌석"},
            { "key" : "청의 영선사", "value" : "김윤식"},
            { "key" : "사회경제사 연구, 조선봉건사회경제사 저술,", "value" : "백남운"},
            { "key" : "신흥강습소", "value" : "이회영"},
            { "key" : "멕시코, 숭무학교", "value" : "이근영"},
            { "key" : "한국독립운동지혈사, 태백광노, 나라는 형체이고 역사는 정신이다, 유교구신론, 동제사, 안중근전, 이준 열사전", "value" : "박은식"},
            { "key" : "진단학회, 실증주의 사학", "value" : "이병도, 손진태"},
            { "key" : "조선사 편찬", "value" : "최남선"},
            { "key" : "파리 강화 회의 민족대표(신한청년당), 민족혁명당 설립 참여, 대한민국 임시정부 부주석, 민족자주연맹(남북협상)", "value" : "김규식"},
            { "key" : "흥사단 창립, 재미한인 이끌고, 잡지 동광", "value" : "안창호"},
            { "key" : "조선혁명선언, 독사신론", "value" : "신채호"},
            { "key" : "진단학회, 진단 학보", "value" : "이병도, 손정태"},
            { "key" : "여유당전서, 민족의 얼을 강조하고 조선한 운동을 전개하였다", "value" : "정인보"},
            { "key" : "발해고(남북국이라는 용어를 처음 사용)", "value" : "유득공"},
            { "key" : "동국통감", "value" : "서거정"},
            { "key" : "고려국사(조선건국의 정통성), 조선경국전", "value" : "정도전"},
            { "key" : "반계수록, 균전론", "value" : "유형원"},
            { "key" : "동국지리지(삼한의 위치 고증), 조선 선조 때", "value" : "한백겸"},
            { "key" : "서유견문", "value" : "유길준"},
            { "key" : "수선사, 불교계 개혁, 조계종, 보조국사, 불국사에서 정혜쌍수, 돈오점수 세움", "value" : "지눌"},
            { "key" : "무애가", "value" : "원효"},
            { "key" : "화엄일승법계도", "value" : "의상"},
            { "key" : "천태종, 문종의 아들, 교종 중심으로 선종을 통합하려함", "value" : "의천"},
            { "key" : "왕오천축국전", "value" : "혜초"},
            { "key" : "성학십도", "value" : "이황"},
            { "key" : "동호문답", "value" : "이이"},
            { "key" : "기축봉사", "value" : "송시열"},
            { "key" : "양명학(이단 취급을 받아서 사약을 3번이나 받았다)", "value" : "정제두"},
            { "key" : "북학의(적절한소비)", "value" : "박제가"},
            { "key" : "곽우록(한전론{토지 균등 분배}-토지매매 제한)", "value" : "이익"},
            { "key" : "우서(사농공상-직업적 평등 전문화)", "value" : "유수원"},
            { "key" : "색경(담배, 수박 상품작물 재배법), 숙종", "value" : "박세당"},
            { "key" : "해동제국기", "value" : "신숙주"},
            { "key" : "을사의병, 홍주성", "value" : "민종식"},
            { "key" : "만권당(원간섭기(충선왕)에 유학자와 교류)", "value" : "이제현"},
        ]; 
        var koreapresident = [
            { "key" : "농지개혁(유상매수/유상분배 식민지 지주 청산)", "value" : "이승만"},
            { "key" : "친일파 처단", "value" : "이승만"},
            { "key" : "반민특위(반민족 행위자들을 경찰이 잡아감)", "value" : "이승만"},
            { "key" : "6.25전쟁", "value" : "이승만"},
            { "key" : "부산정치파동", "value" : "이승만"},
            { "key" : "사사오입", "value" : "이승만"},
            { "key" : "중임제한철폐", "value" : "이승만"},
            { "key" : "신국가보안법", "value" : "이승만"},
            { "key" : "진보당사건(조봉암)", "value" : "이승만"},
            { "key" : "3.15부정선거", "value" : "이승만"},
            { "key" : "4.19혁명(허정 과도 정부가 구성되는 결과)", "value" : "이승만"},
            { "key" : "김주열 열사", "value" : "이승만"},
            { "key" : "대학교수 시국선언", "value" : "이승만"},
            { "key" : "5.10 보통선거 2년제 국회의원 선거", "value" : "이승만"},
            { "key" : "삼백(설탕, 밀가루, 면화) 산업 발달", "value" : "이승만"},
            { "key" : "미국의 무상 원조가 유상 차관으로 전환", "value" : "이승만"},
            { "key" : "장면,의원 내각제(총리제)", "value" : "윤보선"},
            { "key" : "민의원, 참으로 양원제", "value" : "윤보선"},
            { "key" : "소급입법, 3.15부정선서 처벌", "value" : "윤보선"},
            { "key" : "결제개발 5개년 계획 수립", "value" : "윤보선"},
            { "key" : "5.16 군사정변", "value" : "윤보선, 박정희 군정"},
            { "key" : "국가재건 최고회의", "value" : "윤보선, 박정희 군정"},
            { "key" : "통일 주체 국민 회의 조직", "value" : "박정희"},
            { "key" : "결제개발 5개년 계획 실시", "value" : "윤보선, 박정희 군정"},
            { "key" : "한일국교 정상화", "value" : "박정희"},
            { "key" : "한일 협정", "value" : "박정희"},
            { "key" : "6.3항쟁, 시위(한일수교 반대)", "value" : "박정희"},
            { "key" : "3선 개헌 추진", "value" : "박정희"},
            { "key" : "경공업발달(섬유, 신발, 가발)", "value" : "박정희"},
            { "key" : "베트남 파평", "value" : "박정희"},
            { "key" : "서독에 간호사와 광부 파견", "value" : "박정희"},
            { "key" : "농어촌 고르채 정리", "value" : "박정희"},
            { "key" : "새마을 운동", "value" : "박정희"},
            { "key" : "경부 고속 국도 개통", "value" : "박정희"},
            { "key" : "정부주도 수출 무역 단행(이촌향도)", "value" : "박정희"},
            { "key" : "전태일 분신 사건", "value" : "박정희"},
            { "key" : "유신헌법", "value" : "박정희"},
            { "key" : "국회해산권", "value" : "박정희"},
            { "key" : "국회의원1/3 임명권", "value" : "박정희"},
            { "key" : "긴급조치권", "value" : "박정희"},
            { "key" : "대통령 임기 6년 중임 제한 철폐(종신)", "value" : "박정희"},
            { "key" : "비상 계엄령 선포", "value" : "박정희"},
            { "key" : "출판과 언론활동 검열", "value" : "박정희"},
            { "key" : "장발금지, 미니스커트 단속, 야간통행금지", "value" : "박정희"},
            { "key" : "동아일보의 백지광고", "value" : "박정희"},
            { "key" : "인혁당 사건", "value" : "박정희"},
            { "key" : "3.1민주 구국선언", "value" : "박정희"},
            { "key" : "부마항쟁", "value" : "박정희"},
            { "key" : "중화학 발달(포항제철)", "value" : "박정희"},
            { "key" : "제 1,2차 석유 파동, 수출 100억불 달성", "value" : "박정희"},
            { "key" : "7.4 남북 공동 성명", "value" : "박정희"},
            { "key" : "남북조절 위원회 설치", "value" : "박정희"},
            { "key" : "12.12사태", "value" : "전두환"},
            { "key" : "대통령 7년 단임 간선제", "value" : "전두환"},
            { "key" : "민정당 집권", "value" : "전두환"},
            { "key" : "신군부의 비상 계엄령 선포", "value" : "전두환"},
            { "key" : "5.18 광주 민주화 운동", "value" : "전두환"},
            { "key" : "삼청교육대 설치", "value" : "전두환"},
            { "key" : "박종철 고문", "value" : "전두환"},
            { "key" : "4.13 호헌 조치", "value" : "전두환"},
            { "key" : "6월 민주 항쟁(이한열, 호헌 철폐)", "value" : "전두환"},
            { "key" : "프로야구창단, 두발자유화, 교복 자율화 야간 통행금지 해제, 해외 여행 자율화", "value" : "전두환"},
            { "key" : "부실기업정리", "value" : "전두환"},
            { "key" : "3저 호황(저금리, 저달러, 저유가)", "value" : "전두환"},
            { "key" : "최초 이산가족 상봉", "value" : "전두환"},
            { "key" : "남북 공연단 교환", "value" : "전두환"},
            { "key" : "16년만에 직선제 실시, 3당 합당으로 민주 자유당 창당", "value" : "노태우"},
            { "key" : "여소야대", "value" : "노태우"},
            { "key" : "소련, 중국과 대북외교 수교", "value" : "노태우"},
            { "key" : "서울 올림픽 개최", "value" : "노태우"},
            { "key" : "남북 UN동시 가입", "value" : "노태우"},
            { "key" : "남북 기본합의서(한반도 비핵화 합의서)", "value" : "노태우"},
            { "key" : "문민정부(군인x)", "value" : "김영삼"},
            { "key" : "조선총독부 폭파", "value" : "김영삼"},
            { "key" : "금융실명제", "value" : "김영삼"},
            { "key" : "OECD가입", "value" : "김영삼"},
            { "key" : "IMF 외환위기 발생", "value" : "김영삼"},
            { "key" : "국민 기초 생활보장제도 실시", "value" : "김대중"},
            { "key" : "IT벤처기업 육성", "value" : "김대중"},
            { "key" : "개성공단", "value" : "김대중"},
            { "key" : "노벨평화상 수상", "value" : "김대중"},
            { "key" : "IMF 외환위기 극복(금모으기 운동)", "value" : "김대중"},
            { "key" : "금강산 관광산업", "value" : "김대중"},
            { "key" : "남북정상회담", "value" : "김대중"},
            { "key" : "6.15 남북 공동 선언", "value" : "김대중"},
            { "key" : "호주제 폐지", "value" : "노무현"},
            { "key" : "한미, 칠레 FTA", "value" : "노무현"},
            { "key" : "경의선 복구 완공", "value" : "노무현"},
            { "key" : "2차 남북정상회담", "value" : "노무현"},
            { "key" : "10.4 남북 공동 선언", "value" : "노무현"},
        ];
        var religion = [
            { "key" : "중광단(만주), 나철, 단군숭배, 을사오적 잡는 자신회", "value" : "대종교"},
            { "key" : "하늘제사(초제)", "value" : "도교"},
            { "key" : "'개벽', '신여성', '어린이' 잡지, '만세보'를 이용한 민족의식 고취", "value" : "천도교"},
            { "key" : "의민단, 무장투쟁, 경향신문, 제사와 신주를 모시는 문제로 정부의 탄압을 받았다, 정약용, 이승훈, 청을 다녀온 사신들에 의해 서학으로 소개됨", "value" : "천주교"},
            { "key" : "배재학당", "value" : "개신교"},
            { "key" : "박중빈을 중심으로 간석사업으로 새생활운동", "value" : "원불교"},
            { "key" : "최제우(경주의 몰락양반), 마음속에 한울님을 모시는 시천주, 동경대전, 용단유사, 유.불.선 바탕 민간신앙", "value" : "동학"},
            { "key" : "사찰령(무단통치기에 일제가 불교를 통제함) 폐지 운동", "value" : "불교"},
            { "key" : "하늘에 제사를 지내는 초제", "value" : "도교"},
            { "key" : "이화학당", "value" : "기독교"},
        ];
        var etc = [
            { "key" : "전국의 부,목,군,현에 하나씩 설립되었다. 중앙에서 교관인 교수나 훈도가 파견되었다.", "value" : "향교"},
            { "key" : "입학 자격은 생원, 진사를 원칙으로 하였다, 조선의 중앙 교육기관", "value" : "성균관"},
            { "key" : "유학을 비롯하여 율학 , 서학, 신학을 교육하였다.", "value" : "국자감"},
            { "key" : "김홍집 내각, 태양력 사용, 연호사용 <건양>", "value" : "을미개혁"},
            { "key" : "전국 8도를 23부로 개편, 6조를 8아문으로 개편, 과거제도 신분제도 폐지(공사노비법 폐지, 인신매매 금지),도량형 통일", "value" : "갑오개혁"},
            { "key" : "전제군주제(황제 직속 원수부) 강화, 구호변경 '대한제국', 지계발급, 신교육령 반포", "value" : "광무개혁"},
            { "key" : "박문국에서 발간한 최초의 신문", "value" : "한성순보"},
            { "key" : "몽골이 우리나라와 함께 일본으로 진출 풍랑을 만나 실패", "value" : "원간섭기"},
            { "key" : "안승은 문무왕 때 고구려 부흥 운동을 벌였다. 하지만 신라에 투항하고 문무왕이 익산지방에 나라를 세워줌", "value" : "보덕국왕"},
            { "key" : "세조 때 병조판서 예종때 유자광의 고변에 의해 처형당함", "value" : "남이"},
            { "key" : "양제역 벽서 사건", "value" : "명종 때 이언적, 을사사화 후 남은 윤임 일파 사림 일부가 피해를 입음"},
            { "key" : "고려시대 아라비아 상인들과 교역했던 곳", "value" : "벽란도"},
            { "key" : "임진왜란 때 의병을 일으켜 길주 일대를 탈환함", "value" : "정문부"},
            { "key" : "조명연합군이 일본군을 몰아내고 평양성을 탈환하였다.", "value" : "선조"},
            { "key" : "통감부의 방해로 좌초된 운동, 대구에서 일어남", "value" : "국채보상운동"},
            { "key" : "통리기무아문 설치의 배경이 된 사건", "value" : "강화도 조약"},
            { "key" : "홍범 14조를 기본방향으로 잡음", "value" : "2차 갑오개혁"},
            { "key" : "일본공사관에 경비병이 주둔하게 된 계기가 됨", "value" : "임오군란"},
            { "key" : "김기수가 수신사로 일본에 파견되는 결과를 가져오게 한 사건", "value" : "강화도 조약"},
            { "key" : "일본이 독립군을 탄압하기 위해서 문화통치기에 만주의 군벌 장 쭤린과 총독부 사이에서 체결된 협정", "value" : "미쓰야 협정"},
            { "key" : "1910서울진공작전->남한대토벌 발생", "value" : "(정미의병=13도 창의군)"},
            { "key" : "치안유지법, 실제로는 독립운동을 방해하려고 만든 법", "value" : "문화통치기"},
            { "key" : "뤼순에서 일본인 재판관으로 이루어진 재판을 받음, 동양 평화론", "value" : "안중근"},
            { "key" : "동양척식주식회사에 폭탄 투여", "value" : "나석주, 의열단"},
            { "key" : "인력거를 타고 오는 인완용을 명동성당 앞에서 습격", "value" : "이재명"},
            { "key" : "조만식, 토산 애용 부인회", "value" : "물산장려운동"},
            { "key" : "문화통치기에 일본, 프랑스 등의 노동단체가 응원하였다.", "value" : "원산노동자총파업"},
            { "key" : "진주에서 일어난 평등운동, 백정에대한 차별 철폐를 내세움", "value" : "조선 형평사 창립 대회"},
            { "key" : "6.25 포로수용소", "value" : "거제도"},
            { "key" : "영국이 러시아 남하를 구실로 점거함", "value" : "거문도"},
            { "key" : "장보고가 청해진을 설치함", "value" : "완도"},
            { "key" : "삼별초가 용장성을 쌓고 몽골에 항전함", "value" : "진도"},
            { "key" : "조선시대 화폐주조", "value" : "전환국"},
            { "key" : "김치양을 죽이고 현종을 왕에 앉힘", "value" : "강조의 정변"},
            { "key" : "소속 관청에 신공을 바침, 장례원을 통해 관리받음", "value" : "공노비"},
            { "key" : "매매, 상속, 증여의 대상", "value" : "사노비"},
            { "key" : "동호인들과 함께 시사 조직, 위항 문학 활동을 함", "value" : "중인"},
            { "key" : "정발이 부산진성 전투에서 전사하였음", "value" : "임진왜란 의주 파천 전"},
            { "key" : "임진왜란 떄 광해군을 미리 세자로 지정하고 지도하게 함, 피난함", "value" : "선조, 의주 파천"},
            { "key" : "6월 보름에 동쪽으로 흐르는 강물에 머리를 깜으면 시원하다", "value" : "유두"},
            { "key" : "강화도조약의 연장선, 일본 화폐를 사용할 수 있고, 일본인이 양미와 잡곡을 조선 항구에서 수입, 수출할 수 있음", "value" : "조일수호조규"},
            { "key" : "임오군란의 결과", "value" : "제물포조약(일본공사관에 경비, 배상금)"},
            { "key" : "최초로 최혜국 대우, 서양과 맺은 최초의 조약, 한나라가 압박을 받으면 도와줌", "value" : "조.미 수호 통상 조약"},
            { "key" : "외교 고문 스티븐, 메가타 화폐 정리사업", "value" : "1차 한.일 협약"},
            { "key" : "을사늑약, 외교권박탈, 통감부설치, 민영환 자결", "value" : "2차 한.일 협약"},
            { "key" : "우정총국, 거사 실패한 인물들이 일본으로 망명, 개화당, 김옥균, 서재필 ", "value" : "갑신정변"},
            { "key" : "구본신참, 아관파천 후 대한제국 선포하고 광무개혁하고 급진적인 개혁들을 비판하면서", "value" : "고종"},
            { "key" : "집강소를 중심으로 폐정 개혁안을 실천", "value" : "고종"},
            { "key" : "임진왜란 때 활략한 의병장", "value" : "곽재우"},  
            { "key" : "고부 백산 황토현 장성 전주", "value" : "동학농민운동"},  
            { "key" : "3.1운동을 계기로 세워진 단체", "value" : "대한민국 임시정부"},
            { "key" : "전국 각지에서 일어난 동맹 휴학의 도화선이 되었다.", "value" : "광주 학생 항일 운동"},
            { "key" : "토지조사산업", "value" : "무단통치기"},
            { "key" : "김좌진의 청산리대첩", "value" : "문화통치기"},
            { "key" : "산미증식계획, 조선농민총동맹", "value" : "문화통치기"},
            { "key" : "구미 위원회를 설치하여 한국의 독립 문제를 국제 여론화하는데 노력하였다", "value" : "이승만"},
            { "key" : "최초의 민주 공화제 정부 형태, 근대적 헌법", "value" : "대한민국임시정부"},
            { "key" : "국민 징용령에 의해 탄광 철도 군수 공장 노동자로 일하러 나감 농업이 엄청 쇄퇴함", "value" : "민족말살기"},
            { "key" : "조선 사상법 보호 관찰령", "value" : "민족말살기"},
            { "key" : "비타협적 민족전선의 수립, 사회적 각성, 단결, 기회주의 부인이라는 3대 강령", "value" : "신간회"},
            { "key" : "조선의용대, 조선의열단 창설, 한국광복군 사령관", "value" : "김원봉"},
            { "key" : "무용총의 무용도, 수렵도", "value" : "고구려의 삶"},
            { "key" : "신라가 주로 만든 무덤", "value" : "돌무지덧널무덤"},
            { "key" : "신라진흥왕비 함흥 황초렴비 판독과 고증, 금석문 김정희", "value" : "금석괴안록"},
            { "key" : "고구려 초기 무덤 양식 계단식으로 쌓은 돌무지무덤", "value" : "장군총"},
            { "key" : "아차산성을 공격하려다 죽은 고국려의 장군", "value" : "온달 장군"},
            { "key" : "솔빈부의 특산물인 말을 판매하는 상인이 보이는 시대", "value" : "발해"},
            { "key" : "만장일치 화백회의", "value" : "신라의 귀족회의"},
            { "key" : "고려 최고의 관서, 문하시중", "value" : "중서문하성"},
            { "key" : "고려시대 관리를 감찰하고 풍기를 단속하였다. 서경권(관리 임명)을 행사", "value" : "어사대"},
            { "key" : "고려시대 화폐, 곡식의 출납을 담당", "value" : "삼사"},
            { "key" : "원간섭기에 도병마사가 계편됨", "value" : "도평의사사"},
            { "key" : "삼국시대부터 조선 초기까지의 역대 시와 산문 중에어 뛰어난 것만을 뽑아 편찬한 것, 서거정, 노사신", "value" : "동문선, 성종"},
            { "key" : "도평의사사 폐지, 왕자의 난, 정도전 제거", "value" : "태종"},
            { "key" : "악학궤범(유자광 성현 음악책),", "value" : "성종"},
            { "key" : "국내에서 가장 오래된 목조 건물", "value" : "안동 봉정사"},
            { "key" : "신라 진흥왕 때 인도에서 공부하고 돌아온 의신이 지은 절", "value" : "법주사"},
            { "key" : "결사(신앙생활을 같이 하자), 대몽항전 표방, ", "value" : "백련사"},
            { "key" : "조선후기 임원경제지는 OOO가 저술한 농업백과사전", "value" : "서유구"},
            { "key" : "국제 무역의 시작 내상,만상", "value" : "통일 신라"},
            { "key" : "조선 때 개인이 광산을 개발하고 세금을 받았던 제도", "value" : "설점수세제"},
            { "key" : "예학을 조선에 맞게 정리하였다.", "value" : "가례집람"},
            { "key" : "총융청과 수어청을 설치하여 도성을 방비하였다.", "value" : "인조"},
            { "key" : "촉서루, 김시민", "value" : "진준"},
            { "key" : "정조 때 재난을 당한 비민을 구제하였다.", "value" : "김만덕"},
            { "key" : "정약전이 신유박해 때 흑산도에 유배되서 흑산도의 생물을 분류함", "value" : "자산어보"},
            { "key" : "임진왜란 때 신립이 배수의 진을 치고 싸운 장소", "value" : "충주 탄금대 전투"},
            { "key" : "비변사 폐지, 삼군부 부활, 의정부 기능 강화, 대전회통", "value" : "흥선대원군"},
            { "key" : "사개치부법이라는 회계작성법, 송방", "value" : "송상"},
            { "key" : "개항이후 상업 자유화에 밀려 생업에 위협을 받게 된 보부상을 보호하기 위해 설치", "value" : "혜상공국"},
            { "key" : "한강을 중심으로 서남부 지방 쌀, 어물 등을 배를 이용해 한양으로 수송, 판매하고 세곡을 운송하였다.", "value" : "경강상인 "},
            { "key" : "유네스코세계문화유산", "value" : "일성록 승정원일기 조선왕조실록"},
            { "key" : "정조가 세손부터 쓴 일기", "value" : "일성록"},
            { "key" : "조선 중후기 국가 최고의 기구인 비변사에서 한 일을 정리한 문서", "value" : "비변사등록"},
            { "key" : "왕명출납, 행정사무, 인조 ~ 순종", "value" : "승정원일기"},
            { "key" : "조선왕조실록을 간행한 기관", "value" : "춘추관"},
            { "key" : "토지와 곡식의 신에게 제사를 지내는 제단", "value" : "사직단"},
            { "key" : "조선 왕조 역대 왕과 왕비의 신주를 모신 사당", "value" : "종묘"},
            { "key" : "공자의 위패를 모신 사당", "value" : "문묘"},
            { "key" : "관우를 제사지내는 사당", "value" : "동관왕묘"},
            { "key" : "신농, 후직에게 풍년을 기원하는 곳", "value" : "선농단"},
            { "key" : "열하일기, 청에 다녀와서 문물을 알리고 상공업을 중시하였다.", "value" : "박지원"},
            { "key" : "개항과 통상에 반대하면서 이만손 강진규등 300여명 유생 복합 상소", "value" : "영남만인소"},
            { "key" : "아관 파천 이후 환궁한 곳, 미소 공동 위원회가 개최된 곳, 을사늑약이 체결된 곳, 가장 오래된 서양 건물이 있는 곳", "value" : "덕수궁"},
            { "key" : "을미사변이 일어난 곳", "value" : "경복궁"},
            { "key" : "최초의 근대적 기구, 서구 문물을 적극적으로 받아들이겠다, 12사,  별기군 창설, 조사 시찰단, 임오군란에 의해 폐지", "value" : "통리기무아문"},
            { "key" : "조선시대 명나라, 청나라에 정기적으로 보낸 사신", "value" : "삼절사(하정사, 성절사, 천추사)"},
            { "key" : "조선초기에 여진과 교류하기 위해서 개설", "value" : "북평관"},
            { "key" : "광해군 시기에 국정을 이끌었다", "value" : "북인"},
            { "key" : "경신환국으로 정권 장악 숙종이 남인을 등용해주었는데 허적이 유악(기름)을 숙종의 허락없이 가져감 서인이 그걸 일러서 남인이 탄압받음", "value" : "서인"},
            { "key" : "이언적과 이황의 제자들", "value" : "남인"},
            { "key" : "기해 예송에서 자의 대비의 기년복(1년)을 주장", "value" : "서인"},
            { "key" : "기해 예송에서 자의 대비의 3년간 상복을 입어야 한다.", "value" : "남인"},
            { "key" : "정여립모반사건, 기축옥사로 사사 됨", "value" : "동인"},
        ];

        var data = [];             
        var nowNum = 0; // problem number I am solving

        function showValue() {
            document.getElementById("screen").innerHTML = data[nowNum].value;
            document.getElementById("screen").style.color = "red";
        }
        function goNextProblem() {
            document.getElementById("screen").innerHTML = data[++nowNum].key;
            document.getElementById("screen").style.color = "black";
        }
        var isKey = true;
        function buttonToggle() {
            if (isKey) {
                showValue();
                document.getElementById("btn").innerHTML = "다음문제";
            } else {
                goNextProblem();
                document.getElementById("btn").innerHTML = "정답확인";
            }
            isKey = !isKey;
        }
        function enterkey() {
            if (window.event.keyCode == 13) {
                // 엔터키가 눌렸을 때 실행할 내용
                buttonToggle();
            }
        } 
        function shuffle(a) {
            for (let i = a.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [a[i], a[j]] = [a[j], a[i]];
            }
            return a;
        }
        function makeJsonData(){
            var raw = document.getElementById("rawText").value.toString()+"\n";
            var currentI = 0;
            var res = "";

            var key = "";
            var value = "";
            for(var i = 0 ;i < raw.length;i++){
                if(raw[i] == "\n"){
                    if(key.length == 0){
                        key = raw.substring(currentI, i);
                        currentI = i+1;
                    }else{
                        value = raw.substring(currentI, i);
                        currentI = i+1;

                        res += '{ "key" : "'+key+'", "value" : "'+value+'"},\n';
                        key = "";
                        value = "";
                    }
                }
            }

            document.getElementById("result").innerHTML = res;
            
        }

        function refreshData(){
            data = [];
            nowNum = 0;

            if (document.getElementById("ancient").checked == true){
                data = data.concat(ancient);
            }
            if (document.getElementById("goBaekSin").checked == true){
                data = data.concat(goBaekSin);
            }
            if (document.getElementById("tongilsillaVarhae").checked == true){
                data = data.concat(tongilsillaVarhae);
            }
            if (document.getElementById("goryeo").checked == true){
                data = data.concat(goryeo);
            }
            if (document.getElementById("joseon").checked == true){
                data = data.concat(joseon);
            }
            if (document.getElementById("group").checked == true){
                data = data.concat(group);
            }
            if (document.getElementById("man").checked == true){
                data = data.concat(man);
            }
            if (document.getElementById("koreapresident").checked == true){
                data = data.concat(koreapresident);
            }
            if(document.getElementById("religion").checked == true){
                data = data.concat(religion);
            }
            if(document.getElementById("etc").checked == true){
                data = data.concat(etc);
            }

            data = shuffle(data);// suffle data index
            document.getElementById("screen").innerHTML = data[nowNum].key;
            
        }
    </script>
</body>

</html>